.board-wrapper {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
  margin-right: 30px;

  .board {
    position: absolute;
    display: flex;
    flex-direction: column; 
    top: -5px;
    right: -5px;
    bottom: -6px;
    left: -5px; 

    .row {
      display: flex;
      flex: 1;
    }
  }
}