.game {
  display: flex;
  flex-direction: column;
  padding: 30px;

  .actions {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .holder {
    display: flex;
    flex-direction: row;
  }
}